# Visual Studio
.vs/
*.suo
*.user
[Bb]in/
[Oo]bj/
[Pp]ackages/
*.user

# ReSharper
*.DotSettings
_ReSharper.*

# Cake
[Tt]ools/

# Testing Frameworks
[Cc]overage/
[Tt]est[Rr]esults/

# NuGet
[Aa]rtifacts/